@import "tailwindcss";

@layer Component {
  .glitch-text {
    --color1: #ff69b4;
    --color2: #8a2be2;
    --color3: #e05cc5;
    margin: 50px;
    text-shadow: 1px 1px var(--color1), -1px -1px var(--color2);
    animation: glitch 0.8s infinite forwards;
  }

  @keyframes glitch {
    0% {
      text-shadow: 1px 1px var(--color1), -1px -1px var(--color2),
        -2px 2px var(--color3);
      transform: translate(0);
    }
    20% {
      text-shadow: -1px 1px var(--color1), 1px 1px var(--color2),
        2px -2px var(--color3);
      transform: translate(-2px, 2px);
    }
    40% {
      text-shadow: 1px -1px var(--color1), -2px -2px var(--color2),
        -2px 2px var(--color3);
      transform: translate(2px, -2px);
    }
    60% {
      text-shadow: -1px -1px var(--color1), 2px 2px var(--color2),
        2px -2px var(--color3);
      transform: translate(-2px, -2px);
    }
    80% {
      text-shadow: 1px 1px var(--color1), -1px -1px var(--color2),
        -2px 2px var(--color3);
      transform: translate(2px, 2px);
    }
    100% {
      text-shadow: -1px 1px var(--color1), 1px 1px var(--color2),
        2px -2px var(--color3);
      transform: translate(0);
    }
  }
}

@theme {
  --font-family: "Inter";
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

.black-linear-gradient {
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(18, 21, 34, 1) 30%,
    rgba(8, 10, 15, 1) 100%
  );
}
